{% extends "game.html" %}

{% block the_body %}


<h1>Welcome to the review page 
    Add a game below</h1>
<form action="/processgame" method="POST">
    <p>To add game enter the game name</p>
    <p><input type="Game Name" name="the_name"></p>
    <p>To add game enter the game studio</p>
    <p><input type="Game Studio" name="the_studio"></p>
    <p>To add game enter the game genre</p>
    <p><input type="Game Genre" name="the_genre"></p>
    <p>To add game enter the game release date</p>
    <p><input type="Game Release Date" name="the_releasedate"></p>
    <p><input type="submit" value="review"></p>
</form>

<p>Click the link to see games <a href="/gamereviews"></a> list</p>

{% endblock %}